

.about{
   max-width: 700px;
   display: flex;
   flex-direction: column;
   gap: 1.1rem;

   h3{
      max-width: 23rem;
   }

   .row_skils{
      display: flex;
      gap: 1.6rem;
      margin-top: 10px;

      ul{
         padding: 0 20px;

         li{
            color: var(--color-gray);
            margin-bottom: 0.3rem;
         }
      }
   }
}