

.about{
   max-width: 45rem;
   display: flex;
   flex-direction: column;
   gap: 1.1rem;

   h4{
      white-space: nowrap;
   }

   h3{
      max-width: 30rem;
   }
   p{
      text-align: justify;
      text-indent:1rem;
   }
}

@media screen and (max-width: 768px){
   .about{
      align-items: center;
      text-align: center;
   }
}