

.about{
   max-width: 700px;
   display: flex;
   flex-direction: column;
   gap: 1.1rem;

   h3{
      max-width: 23rem;
   }

   .row_skils{
      display: flex;
      gap: 1.6rem;
      margin-top: 10px;

      ul{
         padding: 0 20px;

         li{
            color: var(--color-gray);
            margin-bottom: 0.3rem;
         }
      }
   }
}

@media screen and (max-width: 768px){
   .about{
      align-items: center;
      text-align: center;
      .row_skils{
         justify-content: center;
         flex-wrap: wrap;
         ul{
            list-style: none;
            padding: 0;
         }
      }
   }
}

@media screen and (max-width: 540px){
   .about{
      .row_skils{
         flex-direction: column;
         align-items: center;
      }
   }
}