.home {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1.7rem;
   max-width: 45rem;

   h1 {
      max-width: 100%;

      .hi_box {
         padding-left: 10px;
         position: relative;

         path {
            fill: var(--color-hi) !important;
         }

         .hi {
            padding-bottom: 1.1rem;
            width: 5rem;
         }

         .box_hi_text {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            right: 0;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            .hi_text {
               cursor: pointer;
               user-select: none;
               animation: slide-in 1s ease-out;
               color: var(--color-box);
               font-size: 1.9rem;
               font-weight: 900;
            }
         }
      }
   }

   p {
      max-width: 435px;

      img {
         height: 1rem;
         padding-left: 4px;
      }
   }

   .row {
      display: flex;
      gap: 30px;
      align-items: center;

      .stack_box {
         display: flex;
         gap: 15px;
         align-items: center;

         .line {
            background-color: var(--color-font);
            height: 1rem;
            width: 2px;
            border-radius: 99px;
         }

         .stacks {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 10px;
            margin: 0;
            padding: 0;

            li {
               width: 35px;

               img {
                  width: 100%;
               }
            }
         }
      }
   }
}


@keyframes slide-in {
   from {
      transform: scale(0);
   }

   to {
      transform: scale(1);
   }
}


@media screen and (max-width: 768px) {
   .home {
      align-items: center;

      p {
         text-align: center;
      }
   
      .row {
         flex-direction: column-reverse;
      }

      h1 {
         font-size: 3rem;
         text-align: center;

         .hi_box {
            display: none;

            // .hi {
            //    padding-bottom: 1rem;
            //    width: 3rem;
            // }
   
            // .box_hi_text {
            //    position: absolute;
            //    top: 0.1rem;
            //    left: 0.5rem;
            //    right: 0;
            //    display: flex;
            //    align-items: flex-start;
            //    justify-content: center;
   
            //    .hi_text {
            //       font-size: 1.1rem;
            //    }
            // }
         }
      }
   }
}