

.translation{
   box-sizing: border-box;
   cursor: pointer;
   height: 3.4rem;
   width: 3.4rem;
   display: flex;
   padding-bottom: 2px;
   font-size: 1.3rem;
   font-weight: 700;
   color: var(--color-gray);
   align-items: center;
   justify-content: center;
   background: var(--color-box);
   box-shadow: -1px 1px var(--size-shadow) var(--color-shadow), inset 0px 0px var(--size-inset-shadow) var(--color-inset-shadow);
   border-radius: 99px;
}