@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root{
  --color-blue: #1877F2;
  --border-radius-main: 25px;
  --border-radius-small: 20px;
  --size-shadow: 14px;
}


:root[data-theme="light"] {
  --color-background: #f6f7fc;
  --color-box: #fafcff;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-gray: #616161;
  --color-font: #2D2E32;
  --color-hi: #2D2E32;
  --color-scroll: #e6e6e6;
}

:root[data-theme="dark"] {
  --color-background: #121318;
  --color-box: #1e1f25; // 1f2027
  --color-shadow: rgba(10, 10, 10, 1);
  --color-gray: #BEBEBE;
  --color-font: #ededed;
  --color-hi: #BEBEBE;
  --color-scroll: #292a33;
}



html {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-font);
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 4.7rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.4rem; }
p { font-size: 1rem; font-weight: 500; }

h4{
  font-size: 1rem;
  font-weight: 700;
}

h4.blue{
  color: var(--color-blue);
}


p.gray {
  color: var(--color-gray);
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1540px;
  padding: 0 30px;
  margin: 0 auto;
}

.main_container {
  display: flex;
  gap: 130px;
}

.page_box {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.content_page_box {
  padding: 100px 0;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Works on Chrome, Edge, and Safari */

*:not(textarea)::-webkit-scrollbar{
  width: 0;
  opacity: 0;
}

/* Общий стиль для скролла */
textarea::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

/* Стиль ползунка */
textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
  border-radius: 20px;
}




@media screen and (max-width: 1600px){
  html {
    font-size: 16px;
  }
  .container {
    max-width: 1240px;
    padding: 0 120px 0 30px;
  }
  .main_container{
    gap: 60px;
  }
}

@media screen and (max-width: 1280px){

}

@media screen and (max-width: 1024px){
  .content_page_box{
    align-items: center;
  }
}

@media screen and (max-width: 960px){

}

@media screen and (max-width: 768px){
  .content_page_box {
    padding: 75px 0;
  }
}

@media screen and (max-width: 540px){ // mobile devices
  :root{
    --color-blue: #1877F2;
    --border-radius-main: 15px;
    --border-radius-small: 10px;
  }
  .content_page_box {
    padding: 60px 0 90px 0;
  }
  .container {
    padding: 0 20px;
  }
  .page_box {
    min-height: calc(100vh - 90px);
  }
}

@media screen and (max-width: 480px){

}

@media screen and (max-width: 320px){

}